.navItem {
  padding: 2rem;

  font-weight: 600;
  font-size: 1.2rem;

  a {
    text-decoration: none;
  }
}

.navBar {
  position: relative;
  display: flex;
  align-content: center;

  gap: 1rem;

  width: 100%;
  height: 80px;

  padding: 0 10vw;

  @media screen and (max-width: 500px) {
    padding: 0 1rem;
  }
}
